.col-1 {
    display: inline-block;
    width: 500px;
    text-align: left;
}

.col-2 {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.col-3 {
    width: 100px;
    display: inline-block;
    text-align: left;
}

.mdl-list__item-primary-content {
    text-align: left;
}

.mdl-list__item {
    border: 2px solid transparent;
}

.mdl-list__item:hover {
    border: 2px solid gray;
}

li.selected .mdl-list__item {
    border: 2px solid #2196F3;
}

.mdl-list__item-secondary-action i {
    height: 24px;
    width: 24px;
}

#taskContainer {
    text-align: center;
}

#tasks {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 62px;
}

#taskInputs {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px;
    z-index: 1000;
    text-align: right;
}

#taskAdd {
    margin-right: 50px;
}

#tasks li .mdl-list__item-avatar {
    color: #424242;
    background: white;
}

#mainContainer {
    z-index: 20000;
}

#toolbarViewer i,
i.doc {
    cursor: pointer;
}

.remind {
    display: block;
    color: red;
}
